header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 40px 30px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

article {
    margin: 10px 30px 40px 30px;
}

.hq-container {
    display: flex;
    gap: 40px;
    /* background-color: aqua; */
    max-width: 100%;
    max-height: 100%;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px 30px 40px 30px;
}

.c-headquarter {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.hq {
    display: block;
    text-align: center;
}